---
layout: default
---

- current_year = nil    # ugly, but good enough
- group_posts_by_month_and_day(site.posts) do |year, month, posts|
  - if current_year != year
    - current_year = year
    %h2.entry-archive= year.to_s
  .entry-archive
    %dl
      %dt= posts.first.date.strftime("%B")
      - for post in posts
        %dd
          %a{:href => post.url}= post.slug.gsub("-", " ")
          %abbr=  post.date.strftime('%b %d %Y') 