---
layout: default
---

<h2>{{ page.year }}</h2>
<ul>
{% for m in (1..12) reversed %}
  {% if site.collated_posts[page.year][m] %}
    <li><h3>{{ m | to_month }}</h3>
    <ul>
    {% for d in (1..31) reversed %}
      {% if site.collated_posts[page.year][m][d] %}
        {% for p in site.collated_posts[page.year][m][d] reversed %}
          <li><a href='{{ p.url }}'>{{ p.title }}</a></li>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
<br />
    </li>
  {% endif %}
{% endfor %}
</ul>